@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002f6c;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li:last-child {
    border-right: none;
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #01579b;
}
.active {
    background-color: #4f83cc;
}

div {
    padding: 20px;
    margin-top: 30px;
    height: auto;
}
